// GENERAL -- Every boring rules that applies to the whole page or small elements used repeatly goes here

* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: rgba(0, 0, 0, 0.87);
	margin: 0;
	overflow-x: hidden;
	max-width: 100%;
}

img {
	vertical-align: middle; // Fixes a slight 3px margin bug with img
}

.mobile {
	display: none;
}

.button {
	display: inline-block;
	border-radius: 1000px;
	padding: 15px 20px;
	background: #E66;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.25), inset 0 -4px 0 rgba(0,0,0,0.2);
	text-shadow: none;
	font-weight: 500;
	margin: 5px;
	transition: all linear 0.1s;

	.mdi {
		font-size: 36px;
		vertical-align: middle;
		margin-right: 5px;
		vertical-align: sub;
	}

	&.discord {
		background: #7289DA;
	}

	&.reddit {
		color: #FF5700;
		background: #EFF7FF;
	}

	&:hover {
		filter: brightness(1.15); // Too lazy to configure the colors manually
	}
}

.select-wrapper {
	.select-button {
		background: #eee;
		padding: 0 20px;
		padding-right: 60px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.25);
		font-size:18px;
		height: 40px;
		display: flex;
		align-items: center;


		.mdi {
			position:absolute;
			top:0;
			right:0;
			width: 40px;
			height:40px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-left: 1px solid #ccc;
		}
	}

	select {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	position: relative;
	min-width: 125px;
}

.small {
	font-size: 14px;
	font-weight: 500;
	display: block;
	opacity: 0.65;
}

html[lang=en] .translate-only {
	display: none;
}
