@font-face{
	font-family: 'dragonscript';
	src: url('fonts/dragon_alphabet.ttf');
}

@font-face{
	font-family: 'daedra';
	unicode-range: U+0030-0039;
	src: url('fonts/daedra.otf');
}

html[lang=fi] .google-definition .definition:last-child {
	display:none;
}

html[lang=dra] body {
	font-family: daedra, dragonscript, serif;

	.google-searchbar, .google-definition {
		font-family: inherit;

		h3 {
			font-family: serif;
		}
	}
}
